*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Cinzel Decorative",sans-serif;
    color: #333;
    position: relative;
}
clear-fix{
    clear: both;
}
ul{
    list-style: none;
}
.color-blue{
    color: #1E70BF;
}
.color-star-yellow{
    color: #f2bf52;
}
.color-yellow{
    color: $mainYellow;
}
.color-d-yellow{
    color: $mainYellow;
}
.color-white{
    color: #fff;
}
.color-light-gray{
    color: #7b7b7b;
}
.color-v-light-gray{
    color: #ccc;
}

.txt-bold{
    font-weight: bold;
}
.padding-left-20{
    padding-left: 20px;
}
.padding-left-30{
    padding-left: 1.85rem;
}
.padding-top-35{
    padding-top: 2.18rem;
}
.padding-top-110{
    padding-top: 6.875rem;
}

.delay-3{
    transition-delay: 0.3s;
}

.title{
    text-align: center;
    text-transform: uppercase;
    color: $mainYellow;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
}
.subtitle{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.625rem;
    color: #000;
    @mixin atSmall{ 
        font-family: 'Playfair Display', serif;
        font-size: 50px;
    }
}
.line{
    width: 2.5rem;
    height: 0.25rem;
    border-bottom: solid 2px #B0914F;
    margin-left: 46.875rem;
    @mixin atSmall{ 
        margin-left: 220px;
    }
}
