.app-center{
    width: 100%;
    height: 37.5rem;
    position: relative;
    @mixin atSmall{ 
        width: 483px;
        height: 201.2px;  
    }
    
    &__info{
        text-align: center;
        color: #fff;
        position: absolute;
        top:265px;
        bottom:0;
        left: 26.562rem;
        @mixin atSmall{ 
            top: 180px;
            left: 120px;
            height: 5rem;
        } 
        
       &__small-title{
            font-family: 'Raleway', sans-serif;
            font-size: 0.937rem; 
           letter-spacing: 0.312rem;
           @mixin atSmall{ 
                font-size: 13px;
            } 
           
        } 
        &__big-title{
            font-family: 'Playfair Display', serif;
            font-size: 5rem;
            @mixin atSmall{ 
                font-size: 30px;
            } 
        }
    }
    
    
    img{
        width: 100%;
        height: 37.5rem; 
       @mixin atSmall{ 
            width: 483px;
            height: 201.2px;
           margin-top: 6.25rem;
        }
    }
}











