.contact-us{
    width: 100%;
    height: 43.125rem;
     @mixin atSmall{ 
        width: 483px;
        height: 1165px;
    }
    
    &__grid-layout{
        width: 100%;
        height: 43.125rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 0;
         @mixin atSmall{ 
           display: block;
        }
        
        &__map-area{
            background:yellow;
            @mixin atSmall{ 
                width: 483px;
                height: 582.5px;
            }
        }
        &__contact-area{
            background: #F9F9F9;
            padding-left: 80px;
            @mixin atSmall{ 
                width: 483px;
                height: 582.5px;
                padding-left: 25px;
            }
            
            &__contact-line{
                text-align: left;
                width: 2.5rem;
                height: 0.25rem;
                border-bottom: solid 2px #B0914F;
            }
            &__subtitle{
                text-align: left;
                font-size: 3rem;
                margin-bottom: 0.625rem;
                color: #333;
                font-family: 'Playfair Display', serif;
            }
            &__title{
                text-align: left;
                text-transform: uppercase;
                color: $mainYellow;
                font-size: 0.875rem;
                margin-bottom: 0.625rem;
                @mixin atSmall{ 
                    padding-top: 65px;
                }
            }
            &__info{
                font-size: 48px;
                color: #f2bf52;
                margin-top: 63px;
                
                &__one{
                    display: inline-block;
                    float: left;
                    clear: both;
                    padding-top: 23px;
                }
                &__two{
                    display: inline-block;
                    margin-left: 15px;
                    clear: both;
                }
                &__loc{
                    font-size: 16px;
                    color: #333;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 800;
                }
                &__loc1{
                    font-size: 14px;
                    color: #7b7b7b;
                    font-family: 'Raleway', sans-serif;
                    display: block;
                    line-height: 0.8;
                }
            }
        }
    }
}