.customer-satis{
    width: 100%;
    height: 41.874rem;
    @mixin atSmall{ 
        width: 483px;
        height: 810px;
    }
    
    &__star-rating{
        text-align: center;
        margin-left: 1.25rem;
        margin-top: 4.062rem;
        @mixin atSmall{ 
            margin-top: 65px;
            margin-left: 10px;
        }
    }
    &__welcome-content{
        width: 60.62rem;
        height: 8.75rem;
        margin-left: 290px;
        margin-top: 4.375rem;
        color: #7b7b7b;
        @mixin atSmall{ 
            margin-top: 52px;
            padding: 0px 15px;
        }
        
        &__content{
            font-family: 'Raleway', sans-serif;
            font-size: 0.875rem;
            text-align: center;
            line-height: 2.4;
            color: #7b7b7b;
        }
    }
    &__last-text{
        text-align: center;
        font-size: 0.875rem;
        font-family: 'Raleway', sans-serif;
    }
    &__indicator{
        width: 80px;
        height: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;
        margin-left: 730px;
        margin-top: 50px;
        @mixin atSmall{ 
            margin-left: 210px;
            margin-top: 118px;
        }
        
        &__circle{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ccc;
            cursor: pointer;
        }
        
    }
}
.one{
    background: #B0914F;
}
.two-content{
    display: none;
}
.three-content{
    display: none;
}