.footer{
    width: 100%;
    height: 345px;
    background: #333333;
    color: #fff;
    @mixin atSmall{ 
        width: 483px;
        height: 655px;
    }
    &__top{
        @mixin atSmall{ 
            padding-top: 45px;
            display: block;
            margin-left: 10px;
        }
    }
    
    &__top li{
        margin-top: 126px;
        margin-left: 190px;
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: #aeaeae;
        font-size: 14px;
        @mixin atSmall{ 
            display: block;
            margin-left: 10px;
            margin-top: 100px;
        }
    }
    &__line{
        width: 1140px;
        height: 1px;
        background: #ccc;
        margin-left: 190px;
        margin-top: 115px;
        margin-bottom: 40px;
        opacity: 0.1;
         @mixin atSmall{ 
            width: 450px;
             margin-left: 10px;
        }
    }
    &__bottom-icons{
        @mixin atSmall{ 
            margin-top: 15px;
            padding-left: 370px;
        }
    }
    &__bottom li{
        cursor: pointer;
        margin-left: 190px;
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color:  #7b7b7b;
        font-size: 14px;
        margin-right: 190px;
        @mixin atSmall{ 
            display: inline-block;
            margin-left: 10px;
            width: 483px;
        }
    }
    
}
