.four-picture{
    width: 100%;
    height: 32.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    overflow: hidden;
    @mixin atSmall{ 
        grid-gap: 0;
        width: 483px; 
        height: 2618px;
        display:block;
    }
    
    &__one{
        position: relative;
        overflow: hidden;
    }
    &__two{
        position: relative;
        overflow: hidden;
    }
    &__three{
        position: relative;
        overflow: hidden;
    }
    &__four{
        position: relative;
        overflow: hidden;

    }
    &__image{
        width: 23.75rem;
        height: 32.25rem;
        @mixin atSmall{ 
            width: 483px; 
            height: 654.5px;
        }
        
        img{
            width: 23.75rem;
            height: 32.25rem;
            @mixin atSmall{ 
                width: 483px; 
                height: 654.5px;
            }
        }
    }
    &__img-sizing{
        width: 379px;
        height: 514px;
        @mixin atSmall{ 
            width: 483px; 
            height: 654.5px;
        }
    }
    &__img-item{
        position: absolute;
        top: 100px;
        left: 70px;
        @mixin atSmall{ 
            left: 100px;
        }
    }
    &__content{
        text-align: center;
        font-size: 1.875rem;
        color: #fff;
        text-transform: uppercase;
        margin-top: 190px;
        margin-left: 80px;
        @mixin atSmall{ 
            margin-left: 111px;
        }
    }
    &__content-restro{
        text-align: center;
        font-size: 1.875rem;
        color: #fff;
        text-transform: uppercase;
        margin-top: 190px;
        @mixin atSmall{ 
            margin-left: 20px;
        }
    }
    &__zoom-effect:hover .four-picture__image{
        transition: 0.4s;
        transform: scale(1.1);
    }

}
