.gallery{
    width: 100%;
    height: 15.937rem;
    position: relative;
    @mixin atSmall{ 
        width: 483px;
        height: 725px;
    }
    
    &__gallery-btn{
        width: 10.937rem;
        height: 3.437rem;
        background: #fff;
        position: absolute;
        top: 6.25rem;
        bottom: 0;
        left: 41.875rem;
        cursor: pointer;
         @mixin atSmall{ 
             top: 335px;
             left: 155px;
        }
        
        p{
            text-align: center;
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            letter-spacing: 3px;
            text-transform: uppercase;
            line-height: 2.9;
        }
    }
    &__grid-layout{
        width: 100%;
        height: 15.937rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0px;
        @mixin atSmall{ 
            grid-template-columns: 1fr 1fr;
        }
        
        &__img-section{
            width: 15.824rem;
            height: 15.937rem;
            position: relative;
            @mixin atSmall{ 
                width: 241.5px;
                height: 241.6px;
            }
            
            img{
                width: 15.824rem;
                height: 15.937rem;
            }
            &__content{
                position: absolute;
                background: rgba(0,0,0,0.5);
                text-align: center;
                color: white;
                width: 15.824rem;
                height: 15.937rem;
                display: none;
                bottom: 0;
                top: 0;
                font-family: "Playfair Display", serif;
                font-size: 1.875rem;
                padding-top: 6.25rem;
            }
            &__subcontent{
                position: absolute;
                text-align: center;
                color: white;
                width: 15.824rem;
                height: 15.937rem;
                display: none;
                bottom: 0;
                top: 0;
                font-family: "Playfair Display", serif;
                font-size: 0.875rem;
                padding-top: 140px;
            }
        }
        &__img-section:hover .gallery__grid-layout__img-section__content{
            transition: 0.5s;
            display: block;
        }
        &__img-section:hover .gallery__grid-layout__img-section__subcontent{
            display: block;
        } 
    }
    &__gallery-btn:hover{
        transition: 0.4s;
        background: #B0914F;
        color: #fff;
    }
}