.header{
    width: 100%;
    height: 6.25rem;
    background: #fff;
    position: fixed;
    z-index: 99999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.30), 0 2px 10px 0 rgba(0,0,0,0.30);
    
    &__logo{
        width: 12rem;
        height: 6.25rem;
        padding: 0px 15px;
        margin-left: 11.25rem;
        display: inline-block;
        float: left;
         @mixin atSmall{ 
            margin-left: 10px;
        } 
        
        
        img{
            width: 10.312rem;
            height: 6.25rem;
            padding: 1.5rem 0rem;
            @mixin atSmall{ 
                padding-top: 1.22rem;
                padding-bottom: 1.22rem;
            } 
        }
    }
    &__header-list{
        width: 59.06rem;
        height: 6.25rem;
        display: inline-block;
        padding-top: 50px;
        float: left;
        @mixin atSmall{ 
            display: none;
        }
        
        ul{
            margin-left: 200px;  
            display: inline-block;
            color: #7b7b7b;
            
            a{
                color: #7b7b7b;
                text-decoration: none;
            }
        }
        
        ul li{
            text-align: center;
            display: inline-block;
            padding: 0px 5px;
            font-weight: bolder;
            font-size: 14px;
            cursor: pointer;
        }
        li a:hover{
            color: #B0914F;
        }
    }
    
    &__menu-btn{
        margin-left: 450px;
        font-size: 18px;
        color: #7b7b7b;
        margin-top: 40px;
        cursor: pointer;
        display: none;
        @mixin atSmall{ 
            display: block;
        }
    }
}