.our-rooms{
    width: 100%;
    height: 55.625rem;
    background: #F9F9F9;
    @mixin atSmall{ 
        width: 483px;
        height: 385px;
    }
    
    &__grid-back{
        width: 71.25rem;
        height: 26.931rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.937rem;
        margin-left: 13.437rem;
        margin-top: 3.75rem;
        @mixin atSmall{ 
            display: none;
        }
        
        &__info-img{
            width: 22.5rem;
            height: 26.931rem;
            background: #fff;
            
            &__img-section{
                width: 22.5rem;
                height: 16.562rem;
                overflow: hidden;
                
                img{
                    width: 22.5rem;
                    height: 16.562rem;
                }
            }
            
            &__info-section{
                width: 22.5rem;
                height: 10.369rem; 
                
                &__title{
                    font-family: 'Playfair Display', serif;
                    font-size: 1.75rem;
                    line-height: 1.07;
                    color: #333;
                    text-align: center;
                }
                hr{
                    background: #ccc;
                    margin: 15px 15px;
                    opacity: 0.2;
                }
                &__rate{
                    font-family: 'Playfair Display', serif;
                    font-size: 1rem;
                    text-align: center;
                    
                    &__big{
                        font-size: 2.0rem;
                        color: $mainYellow;
                    }
                    &__small{
                        font-size: 0.75rem;
                        color: $mainYellow;
                    }
                }
            }
        }
    }
    
    &__grid-back__info-img:hover{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    &__grid-back__info-img:hover .our-rooms__grid-back__info-img__info-section__title{
        color: $mainYellow; 
    }
    &__grid-back__info-img:hover .our-rooms__grid-back__info-img__img-section img{
        transition: 0.4s;
        transform: scale(1.1);
    }
    
}
