.small-menu-page{
/*    background: #ccc;*/
    width: 483px;
    height: 405px;
    display: none;
    margin: 0px 20px;
    font-family: "Cinzel Decorative", sans-serif;
    
    ul{
        padding-top: 20px;
        font-size: 18px;
        color: #7b7b7b;
        text-align: left;
    }
    ul li{
        display: block;
/*        margin: 6px 0px;*/
        font-weight: bold;
        line-height: 2.2;
    }
    &__line{
/*       border-top: solid 1px rgba(255, 255, 255, 0.125); */
        border-top: solid 1px #ccc;
        opacity: 0.3;
    }
    &__cross{
        width: 44px;
        height: 44px;
        border: solid 1px #ccc;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: 218px;
        text-align: center;
        color: #ccc;
        padding-top: 4px;
        font-weight: 100;
        cursor: pointer;
    }
    ul li:hover{
        background: #ccc;
        color: #B0914F;
    }
}