.up-button{
    width: 40px;
    height: 34px;
    background: $mainYellow;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 715px;
    left: 1470px;
    padding: 5px 0px;
    cursor: pointer;
    display: none;
}