.welcome-page{
    width: 100%;
    height: 34.68rem;
    background: #fff;
    padding-top: 6.125rem;
    @mixin atSmall{ 
        padding-top: 200px;
        width: 483px;
        height: 700px;
    }
    
    &__welcome-content{
        width: 60.62rem;
        height: 8.75rem;
        margin-left: 290px;
        margin-top: 4.375rem;
        @mixin atSmall{ 
            width: 483px;
            margin-left: 0px;
            padding: 0px 15px;
            margin-top: 65px;
        }
        
        &__content{
            font-family: 'Raleway', sans-serif;
            font-size: 0.875rem;
            text-align: center;
            line-height: 2.4;
            color: #7b7b7b;
        }
    }
    
    &__last-text{
        text-align: center;
        font-size: 0.875rem;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 6.562rem;
        @mixin atSmall{ 
            margin-top: 100px;
        }
    }
}