
/*@import "normalize.css";*/
/*
$mainBlue: #2F5572;
$mainOrange: #D59541;*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Cinzel Decorative",sans-serif;
    color: #333;
    position: relative;
}
clear-fix{
    clear: both;
}
ul{
    list-style: none;
}
.color-blue{
    color: #1E70BF;
}
.color-star-yellow{
    color: #f2bf52;
}
.color-yellow{
    color: #B0914F;
}
.color-d-yellow{
    color: #B0914F;
}
.color-white{
    color: #fff;
}
.color-light-gray{
    color: #7b7b7b;
}
.color-v-light-gray{
    color: #ccc;
}
.txt-bold{
    font-weight: bold;
}
.padding-left-20{
    padding-left: 20px;
}
.padding-left-30{
    padding-left: 1.85rem;
}
.padding-top-35{
    padding-top: 2.18rem;
}
.padding-top-110{
    padding-top: 6.875rem;
}
.delay-3{
    transition-delay: 0.3s;
}
.title{
    text-align: center;
    text-transform: uppercase;
    color: #B0914F;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
}
.subtitle{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.625rem;
    color: #000;
}
@media(max-width:550px){
.subtitle{ 
        font-family: 'Playfair Display', serif;
        font-size: 2.1rem
}
    }
.line{
    width: 2.5rem;
    height: 0.25rem;
    border-bottom: solid 2px #B0914F;
    margin-left: 46.875rem;
}
@media(max-width:550px){
.line{ 
        margin-left: 220px
}
    }
.header{
    width: 100%;
    height: 6.25rem;
    background: #fff;
    position: fixed;
    z-index: 99999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.30), 0 2px 10px 0 rgba(0,0,0,0.30);
}
.header__logo{
        width: 12rem;
        height: 6.25rem;
        padding: 0px 15px;
        margin-left: 11.25rem;
        display: inline-block;
        float: left;
    }
@media(max-width:550px){
.header__logo{ 
            margin-left: 10px
    }
    }
.header__logo img{
            width: 10.312rem;
            height: 6.25rem;
            padding: 1.5rem 0rem; 
        }
@media(max-width:550px){
.header__logo img{ 
                padding-top: 1.22rem;
                padding-bottom: 1.22rem 
        }
    }
.header__header-list{
        width: 59.06rem;
        height: 6.25rem;
        display: inline-block;
        padding-top: 50px;
        float: left;
    }
@media(max-width:550px){
.header__header-list{ 
            display: none
    }
    }
.header__header-list ul{
            margin-left: 200px;  
            display: inline-block;
            color: #7b7b7b;
        }
.header__header-list ul a{
    color: #7b7b7b;
    text-decoration: none;
}
.header__header-list ul li{
            text-align: center;
            display: inline-block;
            padding: 0px 5px;
            font-weight: bolder;
            font-size: 14px;
            cursor: pointer;
        }
.header__header-list li a:hover{
            color: #B0914F;
        }
.header__menu-btn{
        margin-left: 450px;
        font-size: 18px;
        color: #7b7b7b;
        margin-top: 40px;
        cursor: pointer;
        display: none;
    }
@media(max-width:550px){
.header__menu-btn{ 
            display: block
    }
    }
.app-center{
    width: 100%;
    height: 37.5rem;
    position: relative;
}
@media(max-width:550px){
.app-center{ 
        width: 483px;
        height: 201.2px
}
    }
.app-center__info{
        text-align: center;
        color: #fff;
        position: absolute;
        top:265px;
        bottom:0;
        left: 26.562rem;
    }
@media(max-width:550px){
.app-center__info{ 
            top: 180px;
            left: 120px;
            height: 5rem
    }
    }
.app-center__info__small-title{
            font-family: 'Raleway', sans-serif;
            font-size: 0.937rem; 
           letter-spacing: 0.312rem; 
           
        }
@media(max-width:550px){
.app-center__info__small-title{ 
                font-size: 13px 
           
        }
    }
.app-center__info__big-title{
            font-family: 'Playfair Display', serif;
            font-size: 5rem; 
        }
@media(max-width:550px){
.app-center__info__big-title{ 
                font-size: 30px 
        }
    }
.app-center img{
        width: 100%;
        height: 37.5rem;
    }
@media(max-width:550px){
.app-center img{ 
            width: 483px;
            height: 201.2px;
           margin-top: 6.25rem
    }
    }
.welcome-page{
    width: 100%;
    height: 34.68rem;
    background: #fff;
    padding-top: 6.125rem;
}
@media(max-width:550px){
.welcome-page{ 
        padding-top: 200px;
        width: 483px;
        height: 700px
}
    }
.welcome-page__welcome-content{
        width: 60.62rem;
        height: 8.75rem;
        margin-left: 290px;
        margin-top: 4.375rem;
    }
@media(max-width:550px){
.welcome-page__welcome-content{ 
            width: 483px;
            margin-left: 0px;
            padding: 0px 15px;
            margin-top: 65px
    }
    }
.welcome-page__welcome-content__content{
            font-family: 'Raleway', sans-serif;
            font-size: 0.875rem;
            text-align: center;
            line-height: 2.4;
            color: #7b7b7b;
        }
.welcome-page__last-text{
        text-align: center;
        font-size: 0.875rem;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 6.562rem;
    }
@media(max-width:550px){
.welcome-page__last-text{ 
            margin-top: 100px
    }
    }
.four-picture{
    width: 100%;
    height: 32.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    overflow: hidden;

}
@media(max-width:550px){
.four-picture{ 
        grid-gap: 0;
        width: 483px; 
        height: 2618px;
        display:block

}
    }
.four-picture__one{
        position: relative;
        overflow: hidden;
    }
.four-picture__two{
        position: relative;
        overflow: hidden;
    }
.four-picture__three{
        position: relative;
        overflow: hidden;
    }
.four-picture__four{
        position: relative;
        overflow: hidden;

    }
.four-picture__image{
        width: 23.75rem;
        height: 32.25rem;
    }
@media(max-width:550px){
.four-picture__image{ 
            width: 483px; 
            height: 654.5px
    }
    }
.four-picture__image img{
            width: 23.75rem;
            height: 32.25rem;
        }
@media(max-width:550px){
.four-picture__image img{ 
                width: 483px; 
                height: 654.5px
        }
    }
.four-picture__img-sizing{
        width: 379px;
        height: 514px;
    }
@media(max-width:550px){
.four-picture__img-sizing{ 
            width: 483px; 
            height: 654.5px
    }
    }
.four-picture__img-item{
        position: absolute;
        top: 100px;
        left: 70px;
    }
@media(max-width:550px){
.four-picture__img-item{ 
            left: 100px
    }
    }
.four-picture__content{
        text-align: center;
        font-size: 1.875rem;
        color: #fff;
        text-transform: uppercase;
        margin-top: 190px;
        margin-left: 80px;
    }
@media(max-width:550px){
.four-picture__content{ 
            margin-left: 111px
    }
    }
.four-picture__content-restro{
        text-align: center;
        font-size: 1.875rem;
        color: #fff;
        text-transform: uppercase;
        margin-top: 190px;
    }
@media(max-width:550px){
.four-picture__content-restro{ 
            margin-left: 20px
    }
    }
.four-picture__zoom-effect:hover .four-picture__image{
        transition: 0.4s;
        transform: scale(1.1);
    }
.our-rooms{
    width: 100%;
    height: 55.625rem;
    background: #F9F9F9;
    
}
@media(max-width:550px){
.our-rooms{ 
        width: 483px;
        height: 385px
    
}
    }
.our-rooms__grid-back{
        width: 71.25rem;
        height: 26.931rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.937rem;
        margin-left: 13.437rem;
        margin-top: 3.75rem;
    }
@media(max-width:550px){
.our-rooms__grid-back{ 
            display: none
    }
    }
.our-rooms__grid-back__info-img{
            width: 22.5rem;
            height: 26.931rem;
            background: #fff;
        }
.our-rooms__grid-back__info-img__img-section{
                width: 22.5rem;
                height: 16.562rem;
                overflow: hidden;
            }
.our-rooms__grid-back__info-img__img-section img{
                    width: 22.5rem;
                    height: 16.562rem;
                }
.our-rooms__grid-back__info-img__info-section{
                width: 22.5rem;
                height: 10.369rem;
            }
.our-rooms__grid-back__info-img__info-section__title{
                    font-family: 'Playfair Display', serif;
                    font-size: 1.75rem;
                    line-height: 1.07;
                    color: #333;
                    text-align: center;
                }
.our-rooms__grid-back__info-img__info-section hr{
                    background: #ccc;
                    margin: 15px 15px;
                    opacity: 0.2;
                }
.our-rooms__grid-back__info-img__info-section__rate{
                    font-family: 'Playfair Display', serif;
                    font-size: 1rem;
                    text-align: center;
                }
.our-rooms__grid-back__info-img__info-section__rate__big{
                        font-size: 2.0rem;
                        color: #B0914F;
                    }
.our-rooms__grid-back__info-img__info-section__rate__small{
                        font-size: 0.75rem;
                        color: #B0914F;
                    }
.our-rooms__grid-back__info-img:hover{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
.our-rooms__grid-back__info-img:hover .our-rooms__grid-back__info-img__info-section__title{
        color: #B0914F; 
    }
.our-rooms__grid-back__info-img:hover .our-rooms__grid-back__info-img__img-section img{
        transition: 0.4s;
        transform: scale(1.1);
    }
.customer-satis{
    width: 100%;
    height: 41.874rem;
}
@media(max-width:550px){
.customer-satis{ 
        width: 483px;
        height: 810px
}
    }
.customer-satis__star-rating{
        text-align: center;
        margin-left: 1.25rem;
        margin-top: 4.062rem;
    }
@media(max-width:550px){
.customer-satis__star-rating{ 
            margin-top: 65px;
            margin-left: 10px
    }
    }
.customer-satis__welcome-content{
        width: 60.62rem;
        height: 8.75rem;
        margin-left: 290px;
        margin-top: 4.375rem;
        color: #7b7b7b;
    }
@media(max-width:550px){
.customer-satis__welcome-content{ 
            margin-top: 52px;
            padding: 0px 15px
    }
    }
.customer-satis__welcome-content__content{
            font-family: 'Raleway', sans-serif;
            font-size: 0.875rem;
            text-align: center;
            line-height: 2.4;
            color: #7b7b7b;
        }
.customer-satis__last-text{
        text-align: center;
        font-size: 0.875rem;
        font-family: 'Raleway', sans-serif;
    }
.customer-satis__indicator{
        width: 80px;
        height: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;
        margin-left: 730px;
        margin-top: 50px;
        
    }
@media(max-width:550px){
.customer-satis__indicator{ 
            margin-left: 210px;
            margin-top: 118px
        
    }
    }
.customer-satis__indicator__circle{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ccc;
            cursor: pointer;
        }
.one{
    background: #B0914F;
}
.two-content{
    display: none;
}
.three-content{
    display: none;
}
.gallery{
    width: 100%;
    height: 15.937rem;
    position: relative;
}
@media(max-width:550px){
.gallery{ 
        width: 483px;
        height: 725px
}
    }
.gallery__gallery-btn{
        width: 10.937rem;
        height: 3.437rem;
        background: #fff;
        position: absolute;
        top: 6.25rem;
        bottom: 0;
        left: 41.875rem;
        cursor: pointer;
    }
@media(max-width:550px){
.gallery__gallery-btn{ 
             top: 335px;
             left: 155px
    }
    }
.gallery__gallery-btn p{
            text-align: center;
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            letter-spacing: 3px;
            text-transform: uppercase;
            line-height: 2.9;
        }
.gallery__grid-layout{
        width: 100%;
        height: 15.937rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0px; 
    }
@media(max-width:550px){
.gallery__grid-layout{ 
            grid-template-columns: 1fr 1fr 
    }
    }
.gallery__grid-layout__img-section{
            width: 15.824rem;
            height: 15.937rem;
            position: relative;
        }
@media(max-width:550px){
.gallery__grid-layout__img-section{ 
                width: 241.5px;
                height: 241.6px
        }
    }
.gallery__grid-layout__img-section img{
                width: 15.824rem;
                height: 15.937rem;
            }
.gallery__grid-layout__img-section__content{
                position: absolute;
                background: rgba(0,0,0,0.5);
                text-align: center;
                color: white;
                width: 15.824rem;
                height: 15.937rem;
                display: none;
                bottom: 0;
                top: 0;
                font-family: "Playfair Display", serif;
                font-size: 1.875rem;
                padding-top: 6.25rem;
            }
.gallery__grid-layout__img-section__subcontent{
                position: absolute;
                text-align: center;
                color: white;
                width: 15.824rem;
                height: 15.937rem;
                display: none;
                bottom: 0;
                top: 0;
                font-family: "Playfair Display", serif;
                font-size: 0.875rem;
                padding-top: 140px;
            }
.gallery__grid-layout__img-section:hover .gallery__grid-layout__img-section__content{
            transition: 0.5s;
            display: block;
        }
.gallery__grid-layout__img-section:hover .gallery__grid-layout__img-section__subcontent{
            display: block;
        }
.gallery__gallery-btn:hover{
        transition: 0.4s;
        background: #B0914F;
        color: #fff;
    }
.contact-us{
    width: 100%;
    height: 43.125rem;
}
@media(max-width:550px){
.contact-us{ 
        width: 483px;
        height: 1165px
}
    }
.contact-us__grid-layout{
        width: 100%;
        height: 43.125rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 0;
    }
@media(max-width:550px){
.contact-us__grid-layout{ 
           display: block
    }
    }
.contact-us__grid-layout__map-area{
            background:yellow;
        }
@media(max-width:550px){
.contact-us__grid-layout__map-area{ 
    margin-top: 10px;
                width: 495px;
                height: 582.5px
        }
    }
.contact-us__grid-layout__contact-area{
            background: #F9F9F9;
            padding-left: 80px;
        }
@media(max-width:550px){
.contact-us__grid-layout__contact-area{ 
                width: 483px;
                height: 582.5px;
                padding-left: 25px
        }
    }
.contact-us__grid-layout__contact-area__contact-line{
                text-align: left;
                width: 2.5rem;
                height: 0.25rem;
                border-bottom: solid 2px #B0914F;
            }
.contact-us__grid-layout__contact-area__subtitle{
                text-align: left;
                font-size: 3rem;
                margin-bottom: 0.625rem;
                color: #333;
                font-family: 'Playfair Display', serif;
            }
@media(max-width:550px){
    .contact-us__grid-layout__contact-area__contact-line{
                margin: auto;
                width: 2.5rem;
                height: 0.25rem;
                border-bottom: solid 2px #B0914F;
            }
.contact-us__grid-layout__contact-area__subtitle{
                text-align: center;
                font-size: 2.1rem;
                margin-bottom: 0.625rem;
                color: #333;
                font-family: 'Playfair Display', serif;
            }
.contact-us__grid-layout__contact-area__title{
                margin: auto;
                text-align: center!important;
                text-transform: uppercase;
                color: #B0914F;
                font-size: 0.875rem;
                margin-bottom: 0.625rem;
            }
    }
.contact-us__grid-layout__contact-area__title{
                text-align: left;
                text-transform: uppercase;
                color: #B0914F;
                font-size: 0.875rem;
                margin-bottom: 0.625rem;
            }
@media(max-width:550px){
.contact-us__grid-layout__contact-area__title{ 
                    padding-top: 65px
            }
    }
.contact-us__grid-layout__contact-area__info{
    padding: 0px 130px;
                font-size: 48px;
                color: #f2bf52;
                margin-top: 63px;
            }
.contact-us__grid-layout__contact-area__info__one{
                    display: inline-block;
                    float: left;
                    clear: both;
                    padding-top: 23px;
                }
.contact-us__grid-layout__contact-area__info__two{
                    display: inline-block;
                    margin-left: 15px;
                    clear: both;
                }
.contact-us__grid-layout__contact-area__info__loc{
                    font-size: 16px;
                    color: #333;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 800;
                }
.contact-us__grid-layout__contact-area__info__loc1{
                    font-size: 14px;
                    color: #7b7b7b;
                    font-family: 'Raleway', sans-serif;
                    display: block;
                    line-height: 0.8;
                }
.footer{
    width: 100%;
    height: 345px;
    background: #333333;
    color: #fff;
    
}
@media(max-width:550px){
.footer{ 
        width: 483px;
        height: 655px
    
}
    }
.footer__top{
    text-align: center;
}
@media(max-width:550px){
.footer__top{ 
            padding-top: 45px;
            display: block;
            margin-left: 10px;
            text-align: center;
    }
    }
.footer__top li{
        margin-top: 126px;
    
        margin-left: 120px;
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color: #aeaeae;
        font-size: 14px;
    }
@media(max-width:550px){
.footer__top li{ 
            display: block;
            margin-left: 10px;
            margin-top: 100px
    }
    }
.footer__line{
        width: 1140px;
        height: 1px;
        background: #ccc;
        margin-left: 190px;
        margin-top: 115px;
        margin-bottom: 40px;
        opacity: 0.1;
    }
@media(max-width:550px){
.footer__line{ 
            width: 450px;
             margin-left: 10px
    }
    }
.footer__bottom-icons{
    padding-left: 555px;
}
@media(max-width:550px){
.footer__bottom-icons{ 
            margin-right: -10px;
            margin-top: 15px;
            padding-left: 20px;
            text-align: center;
    }
    }
.footer__bottom li{
    text-align: right;
        cursor: pointer;
        margin-left: 190px;
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        color:  #7b7b7b;
        font-size: 14px;
/*        margin-right: 190px;*/
    }
@media(max-width:550px){
.footer__bottom li{ 
            display: inline-block;
            margin-left: 10px;
            width: 483px;
                text-align: center;
    }
    }
.small-menu-page{
/*    background: #ccc;*/
    width: 483px;
    height: 405px;
    display: none;
    margin: 0px 20px;
    font-family: "Cinzel Decorative", sans-serif;
}
.small-menu-page ul{
        padding-top: 20px;
        font-size: 18px;
        color: #7b7b7b;
        text-align: left;
    }
.small-menu-page ul li{
        display: block;
/*        margin: 6px 0px;*/
        font-weight: bold;
        line-height: 2.2;
    }
.small-menu-page ul li a{
    text-decoration: none;
    color: #7b7b7b;
}
.small-menu-page ul li a:hover{
    color: #B0914F;
}
.small-menu-page__line{
/*       border-top: solid 1px rgba(255, 255, 255, 0.125); */
        border-top: solid 1px #ccc;
        opacity: 0.3;
    }
.small-menu-page__cross{
        width: 44px;
        height: 44px;
        border: solid 1px #ccc;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: 218px;
        text-align: center;
        color: #ccc;
        padding-top: 4px;
        font-weight: 100;
        cursor: pointer;
    }
.small-menu-page ul li:hover{
        background: #ccc;
        color: #B0914F;
    }
.up-button{
    width: 40px;
    height: 34px;
    background: #B0914F;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 715px;
    left: 1470px;
    padding: 5px 0px;
    cursor: pointer;
    display: none;
}

 